@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */

body {
  font-family: "Azeret Mono", monospace;
  max-width: 1263px;
  margin: 0 auto;
}
:root {
  --text-heading: #0d1321;
  --text-secondary: #3d424d;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.btn {
  border: 1px solid var(--text-secondary);
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
  background: transparent;
  color: var(--text-secondary);
  border-radius: 8px;
  cursor: pointer;
}
.section-title {
  color: var(--text-heading);
  font-size: 26px;
  text-align: center;
}
.section-subtitle {
  color: var(--text-secondary);
  font-size: 15px;
  text-align: center;
}

/* Header Styles */

header {
  padding: 10px 20px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo h2 {
  color: rgb(13, 19, 33);
  font-size: 24;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
}
header nav .nav-button {
}
header nav .nav-button button {
  padding: 8px 10px;
}

/* banner Styles */

.banner {
  background: url("../assets/Hero-bg.png"), rgba(0, 0, 0, 0.06);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 140px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 19px;
}
.banner .img {
  width: 140px;
}
.banner .img img {
  width: 100%;
}
.banner h1 {
  font-size: 28px;
  line-height: 34px;
  color: var(--text-heading);
}
.banner p {
  font-size: 15px;
  color: var(--text-secondary);
  line-height: 22px;
}
.banner button {
  padding: 8px 10px;
  background: var(--text-heading);
  color: #fff;
  font-weight: 500;
}

/* Why Web Development Styles */

.web-dev {
  background: #fafafb;
  padding: 60px 70px;
  border-radius: 14px;
}
.web-dev-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web-dev-container h2 {
  padding: 0 0 18px 0;
}
.web-dev-container p {
}
.web-dev-container .cards {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.web-dev-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 50px;
  background-image: linear-gradient(to left, transparent, #ffff);
  border-radius: 14px;
}
.web-dev-container .card .left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: flex-start;
  align-items: flex-start;
}
.web-dev-container .card .left h4 {
  color: var(--text-heading);
  line-height: 26px;
}
.web-dev-container .card .left p {
  color: var(--text-secondary);
  line-height: 22px;
}
.web-dev-container .card .left button {
  padding: 8px 16px;
  border-radius: 0;
}

.web-dev-container .card .right {
}
.web-dev-container .card .right .img {
  width: 220px;
}
.web-dev-container .card .right .img img {
  width: 100%;
}

.card.card-2 {
  background-image: linear-gradient(to right, transparent, #ffff);
  border-radius: 14px;
  flex-direction: row-reverse;
}

.card-3 {
  background-image: linear-gradient(to left, transparent, #ffff);
}

/* My inspiration section Styles */

.inspiration {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.inspiration .section-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  gap: 28px;
}
.inspiration .iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
}
.inspiration .iframe iframe {
  border-radius: 16px;
  width: 100%;
  height: 430px;
}
